<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="{{ url_for('static',filename='apple-touch-icon.png') }}">
        <!-- Place favicon.ico in the root directory -->


        <link rel="stylesheet" href= "{{ url_for('static',filename='css/normalize.css') }}">
        <link rel="stylesheet" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
        <script src= "{{ url_for('static',filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        
        <h1>Letter 4 Letter Web App</h1>
        <div class="container-fluid" >
            <p id="Instructions"> 
            <h4>Instructions to play the game: </h4>
            <br> First, a player enters a letter, and
            <br> clicks Right or Left to submit. 
            <br> Then, the next player enters a letter, and 
            <br> clicks Right or Left to submit.
            <br> Then the first player enters a letter again
            <br> and so on...
            <!-- <br> Use Challenge when you think your opponent is making up a word that doesn't exist.  -->
            <br>
            The player that enters a letter, which spells a word with 4 letters or more <strong> loses </strong> 

            </p>
            <br>
            <!-- <input id="refresh" type="button" value="Refresh" class="btn btn-primary"> -->
            <br>
        
            Round: <span id="roundnum">{{roundnum}}</span>
            <br>
            Player: <span id="yourname">{{yourname}}</span>
            <br>
            <p id="message">{{message}}</p>
            <form class="form-inline">
                <input id="theletter" type="text" class="form-control">
                <input id="leftbutton" type="button" value="Left" class="btn btn-primary">
                <input id="rightbutton" type="button" value="Right" class="btn btn-primary">
            </form>
            <br>
            <br><p style="font-size:50px"> <span id="theword"> {{theword}} </span> </p>
            <br>
            <br> 
            <br> Last move: <span id="lastmove">{{lastmove}}</span>
            <br> 
            <br> Game Over Words: <span id="gameoverwords">{{gameoverwords}}</span>
            <br>
            <form class="form-inline">
                <input id="challenge" type="hidden" value="Challenge" class="btn btn-danger"> 
                <input id="challengetext" type="hidden" class="form-control">
            </form>
            <br> {{ Player1 }} score: <span id="P1_score">{{ P1score }}</span>
            <br> {{ Player2 }} score: <span id="P2_score">{{ P2score }}</span>
            <br>
            <input id="reset" type="button" value="Reset" class="btn btn-warning">
            <br>
            <br>
            <span id="gameid" >{{ gameid }}</span>
        </div>
        <script src= "https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
            
            var theletter = document.getElementById("theletter");
            var theword = document.getElementById("theword").innerHTML;

            function addleft(){
                if(theletter.value.length > 1 || theletter.value < 'a' || theletter.value > 'z' || "{{yourname}}" == document.getElementById("lastmove").innerHTML){
                    issueAlert();
                } else {
                    playmove("left")
                };
            }

            function addright(){
                if(theletter.value.length > 1 || theletter.value < 'a' || theletter.value > 'z' || "{{yourname}}" == document.getElementById("lastmove").innerHTML){
                    issueAlert();
                }   else {
                    playmove("right")
                };
            }


            function playmove(x){
            	//alert("got here")
                $.ajax({
                    url: '/playmove',
                    data: JSON.stringify({'playerData':"{{yourname}}", 'moveData':x, 'letterData': theletter.value, 'wordData':"{{theword}}", 'gameData':document.getElementById("gameid").innerHTML}),
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    processData: false, 
                    success: function(response) {
                        var JSONObject = JSON.parse(response);
                        //$("body").html(response);
                        $(roundnum).html(JSONObject[0]);
                        $(message).html(JSONObject[1]);
                        $(theword).html(JSONObject[2]);
                        $(lastmove).html(JSONObject[3]);
                        $(gameoverwords).html(JSONObject[4]);
                        $(P1_score).html(JSONObject[5]);
                        $(P2_score).html(JSONObject[6]);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            };
            

            function issueAlert(){
                alert("Please enter a single lowercase letter only. You can only enter letters during your turn.");
            };
            
            function showChallenge(){
                if (theword.length >1) {
                    document.getElementById("challenge").type = "button"
                } else { 
                    document.getElementById("challenge").type = "hidden"
                }
            }

            //on left button click
            document.getElementById("leftbutton").addEventListener('click', function(){
                addleft();
            });
            
            //on right button click 
            document.getElementById("rightbutton").addEventListener('click', function(){
                addright();
            });


            //on challenge button click 
            document.getElementById("challenge").addEventListener('click', function(){
                if (document.getElementById("challenge").value == "Challenge"){
                	document.getElementById("challengetext").type = "Text"
                	document.getElementById("challenge").value = "Challenge Accepted"
                	//alert("gothere")
                	document.getElementById("Message").innerHTML = "Now Player Enter your word."
            	} else {
            		document.getElementById("challenge").value = "Challenge"
            		document.getElementById("challengetext").type = "hidden"	
            	}
            });

            //on reset button click 
            document.getElementById("reset").addEventListener('click', function(){
            	location.reload()
            });


            //refresh on settimeout intervals 
            var refresh = function(){
                    $.ajax({
                        url: '/refresh',
                        data: JSON.stringify({'playerData':"{{yourname}}", 'gameData':document.getElementById("gameid").innerHTML}),
                        type: 'POST',
                        contentType: 'application/json;charset=UTF-8',
                        processData: false, 
                        success: function(response) {
                            var JSONObject = JSON.parse(response);
                            //$("body").html(response);
                            $(roundnum).html(JSONObject[0]);
                            $(message).html(JSONObject[1]);
                            $(theword).html(JSONObject[2]);
                            $(lastmove).html(JSONObject[3]);
                            $(gameoverwords).html(JSONObject[4]);
                            $(P1_score).html(JSONObject[5]);
                            $(P2_score).html(JSONObject[6]);
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });     
            };
            setTimeout(refresh, 10000);


        </script>
        <script src="{{ url_for('static',filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static',filename='js/main.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
